<ion-pane>

  <!-- CHOOSE SONG -->
  <div class="choose_song hidden">
    <div class="row">
      <div class="col chooseSongHeader m8 offset-m2 white">
        <h1>Choose your song:</h1>
        <h4>Music by: PhonX</h3>
        <h5>(William Hickok)</h5>
        <div class="button_div">
          <button id="I_Want_You" class="mybutton waves-effect waves-light btn">Level 1<br>"I Want You"</button><br>
          <button id="Fade" class="mybutton waves-effect waves-light btn">Level 2<br>"Fade"</button><br>
          <button id="Slime" class="mybutton waves-effect waves-light btn">Level 3<br>"Slime"</button><br>
          <button id="coming_soon" disabled class="mybutton waves-effect waves-light btn">Coming Soon</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="bar bar-footer bar-assertive-900">
  	<div class="leader_board_div">
      <button class="button leader_board_btn" ng-click="getLeaderBoard()">Leader Boards</button>
    </div>
  </div>

</ion-pane>




