.logo {
	font-family: 'Silverfake';
	color: black;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
}

.leader_board_btn {
	width: 100px;
}
.leader_board_div {
	text-align: center;
}





@font-face {
	font-family: 'Silverfake';
	src: url("../fonts/Silverfake.otf");
}

html, body {
	height: 100%;
	width: 100%;
}

a {
	color: white;
	text-decoration: none;
}

.center {
	text-align: center;
}



#map {
  height: 100%;
  width: 100%;
}

.scroll {
  height: 100%;
}

#facebook-btn:before {
	font-size: 45px;
}

#twitter-btn:before {
	font-size: 45px;
}

.info-item {
	padding-top: 5px;
	width: 100%;
}

.info-item button {
	width: 100%;
}
